.services{
    background-color: #313131;
    margin-bottom: 92px;
    padding-top: 92px;
    padding-bottom: 134px;
    position: relative;
    margin-top: 116px;
}

.services-content{
    display: flex;
}

.services-elements{
    display: grid;
    max-width: 552px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 62px 62px;
    margin-top: 62px;
}

.services-elements img{
    margin-bottom: 24px;
}

.services-elements div p{
    font-size: 17px;
    font-family: 'circe';
    color: #FAFAFA;
}

.services-content__img{
    border-radius: 5px 0 0 0;
    position: absolute;
    right: 0;
    top: -116px;
    height: calc(100% + 116px);
    width: 38%;
    max-width: 636px;
    background-image: url('../../img/services/backgroud.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.services-content__img img{
    margin-bottom: 10px;
    position: absolute;
}

@media screen and (max-width: 991px) {
    .services-content__img {
        display: none;
    }

    .services-elements{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 580px) {
    .services{
        margin-top: 0;
    }

    .services {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .services-elements{
        margin-top: 44px;
        gap: 44px 0;
    }

    .services-content__text h2{
        font-size: 32px;
    }

    .services-elements div p{
        font-size: 16px;
    }
}