.contact {
    margin-bottom: 62px;
}

.contact-content {
    display: flex;
    max-width: 989px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.contact-form {
    background-color: #FAFAFA;
    max-width: 515px;
    width: 100%;
    padding: 62px;
}

.contact-text {
    background-image: url('../../img/cotact/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 474px;
    width: 100%;
    padding: 62px;
    padding-bottom: 56px;
}